body {
   background: linear-gradient(rgb(255, 248, 200), rgb(163, 243, 255));
}

h1 {
   font-family: "Neonderthaw", monospace, sans-serif, Arial;
   font-size: 80px;
   margin:0%;
   background: linear-gradient(to left, rgb(163,243,255), rgb(255,248,200));
   position: sticky;
   top: 0px;
   animation-name: titleFade;
   animation-play-state: running;
   animation-duration: 2s;
   animation-timing-function: linear;
   padding-left: 5%;
}

h3 {
   font-family: "Neonderthaw", serif, sans-serif, Arial;
   font-size: 60px;
   margin:0%;
   margin-left: 10%;
}

li {
   font-family: monospace, sans-serif, arial;
   font-size: 20px;
   font-weight: bold;
   margin-left: 10%;
}

@keyframes titleFade {
   0%{opacity: 0%;}
}


